---
http_interactions:
- request:
    method: get
    uri: https://financialdata.net/api/v1/stock-prices?identifier=AAPL&key=test_financial_data_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"trading_symbol":"AAPL","date":"2026-03-09","open":255.69,"high":261.15,"low":253.68,"close":258.42,"volume":34376898}]'
  recorded_at: Tue, 11 Mar 2026 12:00:00 GMT
recorded_with: VCR 6.3.1
