---
http_interactions:
- request:
    method: get
    uri: https://financialdata.net/api/v1/stock-prices?identifier=AAPL&key=test_financial_data_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"date":"2026-02-14","open":257.12,"high":259.30,"low":255.78,"close":258.45,"volume":42000000},{"date":"2026-02-13","open":262.01,"high":262.23,"low":255.45,"close":255.78,"volume":56290673},{"date":"2026-02-12","open":275.59,"high":275.72,"low":260.18,"close":261.73,"volume":81077229},{"date":"2026-02-11","open":274.70,"high":280.18,"low":274.45,"close":275.50,"volume":51931283},{"date":"2026-02-10","open":274.89,"high":275.37,"low":272.94,"close":273.68,"volume":34376898},{"date":"2026-02-09","open":277.91,"high":278.20,"low":271.70,"close":274.62,"volume":44623396},{"date":"2[...]
