# frozen_string_literal: true

require "test_helper"

class Api::V1::{{CLASS_NAME}}ControllerTest < ActionDispatch::IntegrationTest
  setup do
    @family = families(:one)
    @user = users(:one)

    # Create OAuth application and access token
    @oauth_app = Doorkeeper::Application.create!(
      name: "Test API App",
      redirect_uri: "https://example.com/callback",
      scopes: "read read_write"
    )
    @access_token = Doorkeeper::AccessToken.create!(
      application: @oauth_app,
      resource_owner_id: @user.id,
      scopes: "read read_write",
      expires_in: 2.hours
    )
    @headers = { "Authorization" => "Bearer #{@access_token.token}" }
  end

  test "GET /api/v1/{{resource}} returns list" do
    get api_v1_{{resource}}_url, headers: @headers

    assert_response :success
    json = JSON.parse(response.body)
    assert json.key?("{{resource}}")
  end

  test "GET /api/v1/{{resource}}/:id returns resource" do
    {{singular}} = {{model}}.first
    get api_v1_{{singular}}_url({{singular}}), headers: @headers

    assert_response :success
    json = JSON.parse(response.body)
    assert_equal {{singular}}.id, json["{{singular}}"]["id"]
  end

  test "POST /api/v1/{{resource}} creates resource" do
    assert_difference("{{model}}.count") do
      post api_v1_{{resource}}_url,
        params: { {{singular}}: { {{CREATE_PARAMS}} } },
        headers: @headers
    end

    assert_response :created
  end

  test "requires authentication" do
    get api_v1_{{resource}}_url

    assert_response :unauthorized
  end
end
