---
http_interactions:
- request:
    method: get
    uri: https://www.alphavantage.co/query?apikey=<ALPHA_VANTAGE_API_KEY>&function=OVERVIEW&symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "Symbol": "AAPL",
            "AssetType": "Common Stock",
            "Name": "Apple Inc",
            "Description": "Apple Inc. is an American multinational technology company that specializes in consumer electronics, computer software, and online services. Apple is the world's largest technology company by revenue (totalling $274.5 billion in 2020) and, since January 2021, the world's most valuable company. As of 2021, Apple is the world's fourth-largest PC vendor by unit sales, and fourth-largest smartphone manufacturer. It is one of the Big Five American information technology companies, along with Amazon, Google, Microsoft, and Facebook.",
            "CIK": "320193",
            "Exchange": "NASDAQ",
            "Currency": "USD",
            "Country": "USA",
            "Sector": "TECHNOLOGY",
            "Industry": "CONSUMER ELECTRONICS",
            "Address": "ONE APPLE PARK WAY, CUPERTINO, CA, UNITED STATES, 95014",
            "OfficialSite": "https://www.apple.com",
            "FiscalYearEnd": "September",
            "LatestQuarter": "2025-12-31",
            "MarketCapitalization": "3878488637000",
            "EBITDA": "152901992000",
            "PERatio": "33.44",
            "PEGRatio": "2.31",
            "BookValue": "6.0",
            "DividendPerShare": "1.03",
            "DividendYield": "0.004",
            "EPS": "7.89",
            "RevenuePerShareTTM": "29.3",
            "ProfitMargin": "0.27",
            "OperatingMarginTTM": "0.354",
            "ReturnOnAssetsTTM": "0.244",
            "ReturnOnEquityTTM": "1.52",
            "RevenueTTM": "435617006000",
            "GrossProfitTTM": "206157005000",
            "DilutedEPSTTM": "7.89",
            "QuarterlyEarningsGrowthYOY": "0.183",
            "QuarterlyRevenueGrowthYOY": "0.157",
            "AnalystTargetPrice": "292.7",
            "AnalystRatingStrongBuy": "6",
            "AnalystRatingBuy": "23",
            "AnalystRatingHold": "15",
            "AnalystRatingSell": "1",
            "AnalystRatingStrongSell": "2",
            "TrailingPE": "33.44",
            "ForwardPE": "30.21",
            "PriceToSalesRatioTTM": "8.9",
            "PriceToBookRatio": "42.58",
            "EVToRevenue": "8.67",
            "EVToEBITDA": "24.71",
            "Beta": "1.107",
            "52WeekHigh": "288.35",
            "52WeekLow": "168.48",
            "50DayMovingAverage": "267.48",
            "200DayMovingAverage": "240.06",
            "SharesOutstanding": "14681140000",
            "SharesFloat": "14656182000",
            "PercentInsiders": "1.704",
            "PercentInstitutions": "65.499",
            "DividendDate": "2026-02-12",
            "ExDividendDate": "2026-02-09"
        }
  recorded_at: Wed, 18 Feb 2026 21:20:03 GMT
recorded_with: VCR 6.3.1
