<%= content_for :page_title, "Feedback" %>

<div class="bg-container shadow-border-xs rounded-xl p-4">
  <h2 class="text-lg font-medium text-primary mb-1">Leave feedback</h2>
  <p class="text-sm text-secondary mb-4">Let us know if you have any specific feedback. Feel free to include links to videos or screenshots.</p>
  <div class="flex flex-col items-center p-6 border border-alpha-black-25 rounded-xl">
    <%= icon("message-square-more", class: "w-8 h-8 mb-2 text-secondary") %>
    <span class="text-sm font-medium text-primary text-center mb-2">Contact your administrator</span>
    <p class="text-sm text-secondary text-center">For feature requests, bug reports, or general feedback, please contact your system administrator.</p>
  </div>
</div>
