import { Controller } from "@hotwired/stimulus"

// {{CONTROLLER_NAME}} Controller
// {{DESCRIPTION}}
export default class extends Controller {
  static targets = [{{TARGETS}}]
  static values = {
    {{VALUES}}
  }

  connect() {
    // Called when controller is connected to DOM
  }

  disconnect() {
    // Called when controller is disconnected from DOM
  }

  // Action methods
  {{ACTIONS}}
}
